Description: solutions to Tasks 8 - 13

Version: 1.0.1.20210311

Author: Arvin Zhao

Last editors: Arvin Zhao

# Preparation

In [1]:
import pandas as pd
import numpy as np

assessment_results = pd.DataFrame({
    'name': ['Anastasia', 'Paul', 'Kathe', 'Joseph', 'Linda', 'Michael', 'Matt', 'Laurentine', 'Chirstian', 'Jonas'],
    'score': [12.5, 10, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']},
    index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
)

# Task 8

In [2]:
assessment_results.head(3)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Paul   10.0         3      no
c      Kathe   16.5         2     yes

# Task 9

In [3]:
assessment_results[assessment_results['attempts'] > 2]

      name  score  attempts qualify
b     Paul   10.0         3      no
d   Joseph    NaN         3      no
f  Michael   20.0         3     yes

# Task 10

In [4]:
print('The sample dataframe has', assessment_results.shape[0], 'rows and', assessment_results.shape[1], 'columns.')

The sample dataframe has 10 rows and 4 columns.

# Task 11

In [5]:
assessment_results[(assessment_results['score'] > 14) & (assessment_results['score'] <= 20)]

      name  score  attempts qualify
c    Kathe   16.5         2     yes
f  Michael   20.0         3     yes
g     Matt   14.5         1     yes
j    Jonas   19.0         1     yes

# Task 12

In [6]:
assessment_results.at['c', 'score'] = 11.5
assessment_results

         name  score  attempts qualify
a   Anastasia   12.5         1     yes
b        Paul   10.0         3      no
c       Kathe   11.5         2     yes
d      Joseph    NaN         3      no
e       Linda    9.0         2      no
f     Michael   20.0         3     yes
g        Matt   14.5         1     yes
h  Laurentine    NaN         1      no
i   Chirstian    8.0         2      no
j       Jonas   19.0         1     yes

# Task 13

In [7]:
assessment_results['score'].mean()

13.0625